@import "tailwindcss";

@theme {
  --font-minecraft: "Press Start 2P", system-ui, sans-serif;
  --color-dirt: #5d4037;
  --color-grass: #388e3c;
  --color-stone: #757575;
  --color-diamond: #00bcd4;
}

:root {
  --background: #111;
  --foreground: #eee;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-minecraft);
  image-rendering: pixelated;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #222;
  border-left: 2px solid #555;
}
::-webkit-scrollbar-thumb {
  background: #777;
  border: 2px solid #ddd;
  box-shadow: inset -2px -2px 0px #444, inset 2px 2px 0px #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
